default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: W1InsalesApp_development

test:
  <<: *default
  database: W1InsalesApp_test

production:
  <<: *default
  database: W1InsalesApp_production
  username: W1InsalesApp
  password: <%= ENV['W1INSALESAPP_DATABASE_PASSWORD'] %>

staging:
  <<: *default
  database: W1InsalesApp_staging
